<link rel="stylesheet" href="stylesheet.css" type="text/css" />
<h2><a href="/marks" class=backlink>MarkrMakr</a></h2>
<center>
  <h1> Yr 'marks </h1>
  <div>
    <% @marks.each { |mark| %>
      <a href=<%=mark.url%>>
        <%= mark.title %> <br>
      </a>
    <% } %>
  </div>
  <br>
  <form action='/marks/new'>
    <input type=submit value='New mark'>
  </form>
</center>
