<link rel="stylesheet" href="../stylesheet.css" type="text/css" />

<h2>MarkrMakr</h2>
<center>
  <form action='/marks' method='post'>
    <h3>Add a new 'mark</h3>
    <div>
      URL:
      <input type=text name=URL placeholder="e.g. https://markrmakr.com"><br><br>
      <input type=submit value="Make yr 'mark!">
    </div>
  </form>
</center>
