<link rel="stylesheet" href="../stylesheet.css" type="text/css" />


<h2><a href="/marks" class=backlink>MarkrMakr</a></h2>
<center>
  <form action='/marks' method='post'>
    <h1>Add a new mark</h1>
    <div>
      Title:
      <input type=text name=title placeholder="e.g. MarkrMakr"><br>
      URL:
      <input type=text name=URL placeholder="e.g. https://markrmakr.com"><br><br>
      <input type=submit value="Make yr mark!">
    </div>
  </form>
  <%=flash[:notice]%>
</center>
