<link rel="stylesheet" href="../stylesheet.css" type="text/css" />


<h2 color=red >MarkrMakr</h2>
<center>
  <form action='/marks' method='post'>
    <h1>Add a new 'mark</h1>
    <div>
      URL:
      <input type=text name=URL placeholder="e.g. https://markrmakr.com"><br>
      Title:
      <input type=text name=title placeholder="e.g. MarkrMakr"><br><br>
      <input type=submit value="Make yr 'mark!">
    </div>
  </form>
  <%=flash[:notice]%>
</center>
