/*
  000022-001242-0094c6-005e7c-040f16
  870058-f2d0a4-a4303f-ffeccc-c8d6af
  157a6e-499f68-77b28c-b4654a-f9f9f8
*/

:root {
  --color1: #4d685a;
  --color2: #4fb286;
  --color3: #3c896d;
  --color4: #546d64;
  --color5: #dffff0;
  --error1: #7d1c3a;
}

a:link {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

a:visited {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

a.backlink:hover {
  border: 0;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

body {
  font-family: arial;
  background-color: var(--color1);
  color: var(--color5);
  line-height: 25px;
}

div {
  background-color: var(--color2);
  padding: 25px;
  width: 350px;
  border-radius: 10px;
}

h1 {
  font-size: 40pt;
  -webkit-text-stroke: 1px var(--color5);
  color: var(--color3);
  text-shadow: 2px 2px 4px #000000;
}

h2 {
  font-size: 30pt;
  -webkit-text-stroke: 1px var(--color5);
  color: var(--color3);
  text-shadow: 2px 2px 4px #000000;
}

.inline_form {
  display: inline;
}
