/*
  000022-001242-0094c6-005e7c-040f16
  870058-f2d0a4-a4303f-ffeccc-c8d6af
  157a6e-499f68-77b28c-b4654a-f9f9f8
*/

:root {
  --color1: #001242;
  --color2: #53a2be;
  --color3: #0094c6;
  --color4: #005e7c;
  --color5: #e8f1f4;
}

body {
  font-family: arial;
  background-color: var(--color1);
  color: var(--color5);
  line-height: 25px;
}

div {
  background-color: var(--color2);
  padding: 25px;
  width: 350px;
}

h1 {
  font-size: 40pt;
  -webkit-text-stroke: 1px var(--color5);
  color: var(--color3);
}

h2 {
  font-size: 30pt;
  -webkit-text-stroke: 1px var(--color5);
  color: var(--color3);
}
